body{
    text-align: center;
    margin: 0px;
    top: 0%;
    /* position: relative; */
}
h1{
   font-size: 937.5%;
   font-family: 'Sacramento', cursive,serif;
    width: 700px;
    margin: 0px auto 0px auto;
    position: relative;
}
.st{
    font-size: 187.5%;
    width: 20%;
    top: 290px;
    left: 38%;
    position: absolute;
    font-family: 'Girassol', cursive,serif;
}
.top{
    background-color: #9fe6a0;
    /* position: absolute; */
    width: 100%;
    padding-top: 150px;
    /* padding-bottom: 360px; */
}

.sun{
    position: absolute;
    width: 300px;
    margin-right: 200px;
    margin-top: 20px;
    top: 270px;
    left: 55rem;
}
.tree{
    position: absolute;
    width: 500px;
    top: 20%;
    margin: 0px;
    right: 0px;
    height: 600px;    
}
.rc{
    position: absolute;
    top: 5%;
    right: 7%;
}
.lc{
    position: absolute;
    top: 40%;
    left: 7%;
}
